//Fonts
$font-family-h: 'Playfair Display', serif;
$font-family-p: 'Lato', sans-serif;

//Colors
$white: #FFFFFF;
$black: #000000;
$dark-gray: #3E4555;
$light-gray: #8D97AD;
$light-blue: #F5F7FA;
$red: #E2536B;
$green: #29AF8A;