@import '_variables';
@import '_main-page';
@import '_donate';
@import '_footer';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}